body{
  background-color: pink;
  background-image: url("anime.gif");
  background-size: 400px;
  margin: 0;
  padding: 0;
}
#banner{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: -30px;
}